*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(129, 199, 223);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main{
    width: 50%;
    height: 60vh;
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
}
#main h1{
    color: rgb(158, 219, 129);
    margin: 1rem;
}
#main input{
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
}
#main p{
    font-size: 2rem;
    color: rgb(78, 153, 78);
}